.portfolio {
  padding-top: 120px;
  background: #f6f6f6;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}

#landing > * {
  display: block;
}

.sticky + * {
  margin-top: 71px;
}
