@import "../../../../styles/utils.scss";
@import "../../../../styles/scroll";

@include sidebar() {
  .main-controls {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .simulator-controls {
    height: 250px;
    .category-filter {
      margin-top: 30px;
    }

    .product-list {
      margin-top: 30px;
      height: 250px;
      overflow-y: scroll;
      @include display-scroll-only-hover();
      .product {
        margin-top: 5px;
        margin-bottom: 5px;
        .image {
          img {
            width: 100%;
            box-shadow: 0 0 2px #6f6f6f;
            transition: 200ms all;
          }
        }
        &:hover {
          .image {
            img {
              box-shadow: 0 0 8px #6f6f6f;
            }
          }
        }
      }
    }
  }
}
