<header class="main">
  <div class="row justify-content-between">
    <h3 class="col-auto text-left" [ngClass]="{'edit-mode': editMode}">
      Capa: <span *ngIf="!editMode">{{layer.name}} <i class="material-icons"  matTooltip="Modificar Nombre" (click)="editMode = true">edit</i></span>
    </h3>
    <form *ngIf="editMode" class="col-auto" [formGroup]="layerForm" (ngSubmit)="false">
      <div class="row align-items-start justify-content-between">
        <div class="col">
          <mat-form-field>
            <input matInput type="text" formControlName="name" required>
            <mat-error *ngIf="fs.checkValidity('name')">
              <div *ngIf="f.name.errors.required">El ambiente requiere un nombre</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-auto panel-buttons">
          <div class="text-right">
            <i class="material-icons" (click)="!submitted && onSubmit()" matTooltip="Guardar Cambios">
              done
            </i>
            <i class="material-icons" (click)="ngOnChanges()" matTooltip="Deshacer Cambios">
              not_interested
            </i>
          </div>
        </div>
      </div>
    </form>
    <div class="col text-right">
      <button mat-mini-fab matTooltip="Volver a la lista de capas" (click)="close.emit()" color="warn">
        <i class="material-icons">
          close
        </i>
      </button>
    </div>
  </div>
</header>
<div class="layer-handler">
  <div class="groups">
    <div class="container-fluid">
      <div *ngFor="let group of groups" [ngClass]="{'default':!group.category}">
        <header>
          <h6>
            {{group.category ? group.category.name: 'General'}}
            <i *ngIf="group.category" (click)="openUpdateCategory(group.category)"
               matTooltip="Modificar nombre de Categoria" class="material-icons">
              edit
            </i>
            <i *ngIf="group.category" (click)="openDeleteCategory(group.category)" matTooltip="Eliminar Categoria"
               class="material-icons">
              delete
            </i>
          </h6>
        </header>
        <div class="row group-list">
          <div class="col-4 item-container" [ngClass]="{
                  'is-default': layer.default_item && item.item_id.toString() === layer.default_item.toString(),
                  'is-selected': layerInSimulator.currentItem
                      && item.item_id.toString() === layerInSimulator.currentItem.item_id.toString()
                }" *ngFor="let item of group.items"
               (click)="updateSelected(item)"
          >
            <div>
              <span class="principal-tag">Principal</span>
              <div class="actions">
                <i class="material-icons"
                   *ngIf="layer.default_item && item.item_id.toString() === layer.default_item.toString()"
                   (click)="updateDefaultItemLayer({item_id: -1})"
                   matTooltip="Desmarcar como producto inicial">
                  remove_circle_outline
                </i>
                <i class="material-icons"
                   *ngIf="!layer.default_item || item.item_id.toString() !== layer.default_item.toString()"
                   (click)="updateDefaultItemLayer(item)"
                   matTooltip="Marcar como producto inicial">
                  bookmark
                </i>
                <i class="material-icons" (click)="openEditItem(item)" matTooltip="Editar producto">
                  edit
                </i>
              </div>
              <img [src]="item.preview">
              <div class="name">
                {{item.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row buttons justify-content-between">
    <div class="col text-right">
      <button mat-raised-button (click)="openCreateCategory()" color="primary" type="button">
        Agregar Categoria
      </button>
      <button mat-raised-button (click)="openCreateItem()" type="button">
        Agregar Producto
      </button>
      <button mat-raised-button (click)="openDeleteLayer()" color="warn" type="button">
        Eliminar Capa
      </button>
    </div>
  </div>
</div>
