@import "../../../styles/variables";

.container-fluid {
  padding-top: 70px;
  background: $background-1;
  height: 100%;
  div.img {
    padding-top: 25px;
    img {
      width: 130px;
    }
  }
  form {
    .mat-form-field {
      width: 100%;
      input {
        margin-bottom: 10px;
      }
      span.mat-form-field-label-wrapper {
        line-height: 16px!important;
      }
    }
  }
}
