<mat-card class="create-envtype-modal">
  <mat-card-header>
    <mat-card-title *ngIf="!category" id="modal-basic-title">Añadir Nueva Categoria a {{layer.name}}</mat-card-title>
    <mat-card-title *ngIf="category" id="modal-basic-title">Cambiar nombre de Categoria</mat-card-title>
    <mat-card-subtitle *ngIf="hasGeneralItems && !category">
      <p><i class="warning">*</i> Atencion: En esta capa ya existen productos y se encuentran en la
        Categoria <b>General</b>. Al crear la nueva Categoria, estos productos seran movidos immediatamente a dicha
        Categoria.</p>
    </mat-card-subtitle>
    <button mat-mini-fab color="warn" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="material-icons" aria-hidden="true">
        close
      </i>
    </button>
  </mat-card-header>
  <form [formGroup]="categoryForm" (ngSubmit)="!submitted && onSubmit()">
    <mat-card-content>
      <div class="row inputs justify-content-center">
        <div class="col-md-8">
          <mat-form-field>
            <input matInput placeholder="Nombre de la Categoria" type="text" formControlName="name" required>
            <mat-error *ngIf="fs.checkValidity('name')">
              <div *ngIf="f.name.errors.required">La Categoria requiere un nombre</div>
              <div *ngIf="f.name.errors.exists">Ya existe una categoria con este mismo nombre</div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row buttons justify-content-center">
        <div class="col-md-4">
          <button mat-raised-button color="primary" [disabled]="submitted" type="submit">Guardar</button>
        </div>
        <div class="col-md-4">
          <button mat-raised-button type="button" [disabled]="submitted" (click)="modal.dismiss('Cross click')">
            Cancelar
          </button>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
