<header class="row justify-content-center main">
  <div class="col-md-11">
    <a routerLink="/" matTooltip="Decoractivos">
      <img class="logo" src="./assets/img/logo_no_title.png" />
    </a>
    <h2 class="text-left">
      Configurar Contraseña
    </h2>
  </div>
</header>
<div class="row create-form justify-content-center">
  <div class="col-md-5">
    <mat-card>
      <form [formGroup]="userForm" (ngSubmit)="!submitted && onSubmit()">
        <mat-card-content>
          <div class="input">
            <mat-form-field>
              <input
                matInput
                placeholder="Ingrese la nueva contraseña"
                type="password"
                formControlName="password"
                required
              />
              <mat-error *ngIf="fs.checkValidity('password')">
                <div *ngIf="f.password.errors.required || f.password.errors.minlength">
                  La contraseña debe contener al menos 6 caracteres.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input">
            <mat-form-field>
              <input
                matInput
                placeholder="Confirme la contraseña"
                type="password"
                formControlName="password_confirm"
                required
              />
              <mat-error *ngIf="fs.checkValidity('password_confirm')">
                <div *ngIf="f.password_confirm.errors.match">
                  Las contraseñas ingresadas no coinciden.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <div class="row create-form justify-content-center">
          <div class="col-md-10">
            <mat-card-actions align="end">
              <button
                mat-raised-button
                color="primary"
                [disabled]="submitted"
                type="submit"
              >
                Actualizar Contraseña
              </button>
              <button
                mat-raised-button
                [disabled]="submitted"
                routerLink="/"
                type="button"
              >
                Cancelar
              </button>
            </mat-card-actions>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
