@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

@each $breakpoint in map-keys($grid-breakpoints) {
  $next: breakpoint-next($breakpoint, $grid-breakpoints);
  $infix: breakpoint-infix($next, $grid-breakpoints);

  .visible {
    &#{$infix} {
      visibility: hidden;
      @include media-breakpoint-up($next) {
        visibility: visible;
      }
    }
  }

  .invisible {
    &#{$infix} {
      visibility: visible;
      @include media-breakpoint-up($next) {
        visibility: hidden;
      }
    }
  }

  .hide {
    &#{$infix} {
      display: block;
      @include media-breakpoint-up($next) {
        display: none;
      }
    }
  }

  .show {
    &#{$infix} {
      display: none;
      @include media-breakpoint-up($next) {
        display: block;
      }
    }
  }
}

@mixin page-with-sidebar(){
  .sidebar {
    background: $background-1;
    position: fixed;
    height: 100%;
    box-shadow: 4px 0px 29px 2px $background-1;
  }

  .page {
    position: fixed;
    height: 100%;
  }
}

@mixin sidebar() {
  .logo {
    margin-top: 50px;
    img {
      width: 100%;
    }
  }

  @content;

  app-min-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
