$node-modules-path: '../node_modules';

$fa-path: '#{$node-modules-path}/font-awesome';
$fa-font-path: '#{$fa-path}/fonts';

$standard-transition-duration: 500ms;
$delayed-transition-duration: 100ms;
$delayed-transition-delay: 400ms;
$delayed-inverted-transition-delay: 100ms;

$background-1: #f6f6f6;
$institution-red: #761718;
