<div class="container">
  <div class="section-title text-center center">
    <h2>¿Quiénes somos?</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <img src="assets/img/user.png" class="img-responsive">
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/img/user.png" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="about-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
          Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam
          commodo nibh.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
          Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
        <a  go-to="simulator" class="btn btn-default btn-lg page-scroll">Simulador</a></div>
    </div>
  </div>
</div>
