<div class="container">
  <div class="section-title text-center center">
    <h2>Simulador</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed
      commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo
      nibh.
    </p>
  </div>
  <div class="categories">
    <ol class="type">
      <li><a (click)="selectEnvironmentType(null)" [ngClass]="{'active': isCategoryActive(null)}">Todos</a></li>
      <li *ngFor="let type of environmentTypes | async"><a (click)="selectEnvironmentType(type)"
                                                           [ngClass]="{'active': isCategoryActive(type)}">{{type.name}}</a>
      </li>
    </ol>
  </div>
  <div class="row displayable" [ngClass]="{transition: isLoading}">
    <div class="col-sm-6 col-md-3 col-lg-3 reducible" *ngFor="let environment of environments | async"
         [ngClass]="{'transition delay': isLoading, 'inverted-delay': !isLoading}">
      <app-landing-environment-card [environment]="environment"></app-landing-environment-card>
    </div>
  </div>
</div>
