<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-8">
      <mat-card class="example-card">
        <div class="text-center img">
          <a routerLink="/">
            <img mat-card-image src="assets/img/logo.png" alt="Decoractivos" />
          </a>
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="!submitted && login()">
          <mat-card-content>
            <mat-form-field>
              <input
                matInput
                placeholder="Ingrese su Usuario"
                type="text"
                required
                formControlName="username"
              />
              <mat-error *ngIf="fs.checkValidity('username')">
                <div *ngIf="f.username.errors.required">
                  El campo contraseña no puede estar vacio
                </div>
                <div *ngIf="f.username.errors.invalid">
                  El usuario o la contraseña no son validos
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Ingrese su Contraseña"
                type="password"
                required
                formControlName="password"
              />
              <mat-error *ngIf="fs.checkValidity('password')">
                <div *ngIf="f.password.errors.required">
                  El campo contraseña no puede estar vacio
                </div>
              </mat-error>
            </mat-form-field>
            <!--<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>-->
            <!--<button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>-->
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="submit">
              Ingresar
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
