@import "../../../styles/variables";

.container-fluid {
  padding-top: 70px;
  background: $background-1;
  height: 100%;
  div.img {
    padding-top: 25px;
    img {
      width: 130px;
    }
  }
  form {
    .mat-form-field {
      width: 100%;
      margin-bottom: 20px!important;
      input {
        margin-bottom: 10px;
      }
      mat-error {
        font-size: 14px;
      }
    }
  }
}
