@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/utils";

mat-card-header {
  mat-card-title {
    font-weight: bold;
    font-size: 22px;
  }

  button.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 8px;
    i {
      font-size: 16px;
      color: #FFFFFF !important;
    }
    &:hover, &:active {
      i {
        color: #FFFFFF;
      }
    }
  }
}

mat-card-content {
  mat-form-field {
    width: 100%;
  }
  .inputs {
    margin: 40px 0 80px;
  }
  .input {
    position: relative;
  }
  .buttons {
    button {
      width: 100%;
    }
  }

  width: 80%;
  margin: 10px auto;
  position: relative;
  mat-form-field {
    width: 100%;
  }
  #item-pw-previewer, #item-image-previewer {
    width: 100%;
    position: relative;
    text-align: center;
  }

  #item-pw-previewer {
    img {
      width: 200px;
    }
  }

  #item-image-previewer {
    img {
      width: 100%;
    }
  }
  button.remove {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    i {
      font-size: 19px;
    }
  }
  #item-preview-uploader, #item-image-uploader {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    background: #c8dadf;
    text-align: center;
    position: relative;
    padding: 20px 0;
    transition: all .3s;
    &:before {
      border: 1px dashed #6e6e6e;
      border-radius: 5px;
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      transition: all .3s;
      content: "";
    }
    input[type=file] {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:not(.disabled) {
      &:hover, &:focus, &.dragging {
        background: #FFF;
        &:before {
          top: 10px;
          left: 10px;
          width: calc(100% - 20px);
          height: calc(100% - 20px);
        }
      }
    }
  }
}
