<table mat-table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container
    [matColumnDef]="col"
    *ngFor="let col of columnSettings.columnList"
  >
    <th mat-header-cell *matHeaderCellDef>
      {{columnSettings.settings[col].title}}
    </th>
    <td mat-cell *matCellDef="let element">
      {{element[col]}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnSettings.columnList"></tr>
  <tr mat-row *matRowDef="let row; columns: columnSettings.columnList;"></tr>
</table>

<mat-paginator
  itemsPerPageLabel="Elementos por pagina"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPage($event)"
  [pageIndex]="query.page-1"
  [pageSize]="query.limit"
  [length]="query.count"
  showFirstLastButtons
></mat-paginator>
