<div class="row">
  <div class="logo col-md-6 offset-md-3">
    <a routerLink="/">
      <img src="assets/img/logo.png">
    </a>
  </div>
</div>
<div class="item-list row">
  <ul class="col-md-12">
    <ng-scrollbar>
      <li>
        <a (click)="selectEnvironmentType(null)" [ngClass]="{'active': isCategoryActive(null)}"
           href="javascript:void(0)">
          Todos
        </a>
      </li>
      <li *ngFor="let type of environmentTypes | async">
        <a (click)="selectEnvironmentType(type)" [ngClass]="{'active': isCategoryActive(type)}"
           href="javascript:void(0)">
          {{type.name}}
        </a>
      </li>
    </ng-scrollbar>
  </ul>
</div>
<app-min-footer></app-min-footer>
