nav {
  background-color: #f6f6f6;
  padding: 10px 0;
  border-bottom: 2px solid #fff;

  .navbar-nav {
    .nav-item {
      text-align: center;
      a {
        outline: 0;
        background-color: transparent;
        padding: 14px 70px;
        color: #555;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
      }
    }
  }
}
