<mat-card class="create-envtype-modal">
  <mat-card-header>
    <mat-card-title id="modal-basic-title">Crear Tipo de Ambiente</mat-card-title>
    <button mat-mini-fab color="warn" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="material-icons" aria-hidden="true">
        close
      </i>
    </button>
  </mat-card-header>
  <form [formGroup]="environmentForm" (ngSubmit)="!submitted && onSubmit()">
    <mat-card-content>
      <div class="row inputs justify-content-center">
        <div class="col-md-8">
          <mat-form-field>
            <input matInput placeholder="Nombre de Ambiente" type="text" formControlName="name" required>
            <mat-error *ngIf="fs.checkValidity('name')">
              <div *ngIf="f.name.errors.required">El Tipo de Ambiente requiere un nombre</div>
              <div *ngIf="f.name.errors.unique">El Tipo de Ambiente ya existe</div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row buttons justify-content-center">
        <div class="col-md-4">
          <button mat-raised-button color="primary" [disabled]="submitted" type="submit">Guardar</button>
        </div>
        <div class="col-md-4">
          <button mat-raised-button type="button" [disabled]="submitted" (click)="modal.dismiss('Cross click')">Cancelar</button>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
