<div class="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>
        Copyright &copy; 2018 Decoractivos.
        <br/>
        Designed by
        <a href="#" class="institution-red-color" rel="nofollow">vespinosa</a> & <a href="#" class="institution-red-color" rel="nofollow">cortexinc</a>
      </p>
    </div>
    <div class="social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
      </ul>
    </div>
  </div>
</div>
