@import "../../../../styles/variables.scss";
.footer {
  background: $background-footer-1;
  color: #777;
  padding: 30px 0;

  .social {
    ul {
      padding: 0;
    }
    ul li {
      display: inline-block;
      margin: 0 6px;
    }

    i.fa {
      font-size: 16px;
      padding: 4px;
      color: #444;
      transition: all 0.5s;

      &:hover {
        color: #000;
      }
    }
  }

  p {
    font-size: 13px;
  }

  a {
    color: #555;
    &:hover {
      color: #000;
    }
  }

}



